@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

footer ul {
	padding: 0;
}

.container li {
	list-style: none;
}
.container a {
	text-decoration: none;
}

.social-links .social-icons {
	color: white;
	margin: 0px 8px;
}

.social-links .social-icons svg {
	height: 20px;
	width: 20px;
}
